body {
    margin:0px;
    padding: 0px;
    width: 100vw;
    font-family: 'Inter', sans-serif;
}
#navbar {
    position: fixed;
    width: 100vw;
    z-index: 1000;
}
.nav-container-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    height: 60px;
    width: 100vw;
    justify-content: space-around;
    background-color: #597E52;
}
.nav-container-flex1 {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #597E52;
    
}
.nav-container-flex2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#597E52 ;
}

a.button {
    display: inline-block;
    padding: 10px 20px ;
    text-decoration: none;
    border: 1px solid #597E52;
    border-radius: 10px;
    color:white ;
}
a.button:hover {
    border-color:#D2E3C8 ;
    background-color:#D2E3C8 ;
    color: black;
}
.nav-items {
    font-family: 'Inter', sans-serif;
}
.nav-logo {
    height: 50px;
    margin-left: 10px;
    align-self: center;
    border-radius: 50%;
}
.nav-heading {
    font-family: 'Playfair Display', serif;
    margin-left: 10px;
    
}
#nav-home {
    padding-top: 60px;
}
.homepage-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    height: 120vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://images.zadinteriors.com/blog/2020/02/Simple-and-Affordable-Home-Decor-Ideas.jpg?scale.option=fill&scale.width=772&scale.height=483');
}
.homepage-innergrid {
    display: grid;
    grid-template-columns: repeat(1fr,8 );
    grid-template-rows: 1fr 1fr ;
    gap: 0px;
    font-family: 'Playfair Display', serif;
    
}
.tagline1 {
    grid-area: 1/2/2/9 ;
    font-size: xx-large;
    margin-top: 0px;
    margin-bottom: 20px;
}
.tagline2 {
    grid-area: 2/2/3/9;
    font-size: xx-large;
    margin-top: 0px;
    margin-bottom: 20px;
}
.tagline3 {
    grid-area: 3/3/4/9 ;
    font-size: x-large;
    font-family: 'Inter', sans-serif;
}
.shopnow-button {
    grid-area:4/4/5/6 ;
    display: inline;
    border: 1px solid #D2E3C8;
    background-color: #D2E3C8;
    border-radius: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: larger;
    padding: 10px;
}
.shopnow-button:hover {
    background-color: #597E52;
    border: 1px solid #597E52;
    color: white;
}
.aboutus {
    display: inline-block;
    width: 100vw;
    background-color: #D2E3C8;
}
.aboutus img {
    float:left;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 8%;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-right:3% ;

}
.about-text {
    margin-right: 15%;
    margin-left: 15%;
    font-family: 'Inter', sans-serif;
    font-size: larger;
}
.about-heading {
    margin-top: 10%;
    font-size: xx-large;
    text-decoration: underline;
    
}
.shop-by-category, .whats-new, .contact {
    text-align: center;
    font-size: xx-large;
    font-family: 'Inter', sans-serif;
    background-color: white;
    
    
}
.category-grid {
    display: grid;
    width: 80%;
    gap: 30px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
}
.category-card {
    border-radius: 20px;
    border: 1px solid #dadada;
}
.category-card:hover {
    border: 1px solid #dadada;
    background-color: #dadada;
}
.category-image {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.category-name {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: larger;
    font-weight: 500;
}
.category-card-diff {
    border-radius: 20px;
    border: 1px solid #dadada;
}
.category-card-diff:hover{
    background-color: #dadada;
}

.category-card-diff > p {
    text-align: center;
    margin-top: 50%;
    margin-bottom: 30%;
    text-decoration: underline;
    color: blue;
    font-size: large;
    font-family: 'Inter', sans-serif;
}
.discover {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: x-large;
    margin: 0px;
    padding: 24px;
}
.trends-grid {
    display: grid;
    width: 80%;
    gap: 30px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    
}
.trends-card {
    border-radius: 10px;
    background-color: #D2E3C8;
}
.trends-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.trends-text {
    text-align: left;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bold;
    font-size: larger;
    font-family: 'Inter', sans-serif;
    background-color: #D2E3C8;
}
.trends-view {
    display: inline;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    border: 1px solid yellow;
    border-radius: 20px;
    background-color: yellow;
}
.trends-view:hover {
    background-color: lightyellow;
}
.contact {
    background-color: #86A789;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    width: 100vw;
    margin-bottom: 0px;
}
.footer-column {
    display: flex;
    background-color: #4F6F52;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
}
.col-1 {
    align-self: center;
}
.col-1 h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: xx-large;
}
.copyright {
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 3px;
}


